<section class="projects">

  <h2>Projects</h2>

  <div class="project-grid">

    <div class="card">

      <h3>CRM System</h3>

      <p>
        Lead management system built using Django and Angular
      </p>
      <div class="stack">Django • Angular • MySQL</div>
    </div>

    <div class="card">

      <h3>Student Management</h3>

      <p>
        OTP based student registration system
      </p>
      <div class="stack">Angular • REST API • MySQL</div>
    </div>

    <div class="card">

      <h3>Google Meet Clone</h3>

      <p>
        Video calling app using WebRTC
      </p>
      <div class="stack">Angular • WebRTC • Firebase</div>
    </div>

  </div>

</section>
